
/*=============================================
=            ROOT STYLES                      =
=============================================*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*=============================================
=            FONTS                            =
=============================================*/
@font-face {
    font-family: 'Marker';
    src: url('../assets/fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Heebo';
    src: url('../assets/fonts/heebo/Heebo/Heebo-Regular.ttf');
}

h1, .game-over {
    text-align: center;
    font-family: 'Marker';
    font-size: 4rem;
}

body {
    background: #b8c77c;
    font-family: 'Heebo';
    font-size: 3rem;
}

.gamescreen {
    border: solid 2px black;
}

/*=============================================
=            HEADER                            =
=============================================*/

header {
    background-image: url("../assets/imgs/whiteboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    font-family: 'Marker';
}

.clock {
    width: 15%;
    position: relative;
    top: 15px;
    left: 50px;
    display: inline-block;
}

.score {
    width: 22%;
    position: relative;
    top: 15px;
    display: inline-block;
}

.title {
    position: relative;
    top: 15px;
    width: 60%;
    display: inline-block;
}

.whiteboard {
    width: 80%;
    margin: 0 auto;
}

.game-over {
    font-size: 6rem;
    margin-top: 50px;
    color: #9FCED9;
    text-shadow: 1px 4px 5px black;
}

.game-over:first-child {
    margin-bottom: 5px;
}

.final-score {
    margin-top: 0;
}

/*=============================================
=            Game Board                            =
=============================================*/
.board {
    margin-top: -130px;
    margin-left: 25px;
    width: 100%;
    position:relative;
    z-index: 5;
    text-align: center;
}

.desks:nth-child(n+4) {
    z-index: 100;
}

.desks {
    display: inline-block;
    margin-left: -35px;
    width: 28%;
    position: relative;
    bottom: 30px;
    margin-top: -110px;
}

.desks.middle {
    bottom: 65px;
}

.table {
    width: 83%;
    position: relative;
    z-index: 3;
}

.rat {
    display: inline-block;
    width: 49%;
    position: relative;
    z-index: 1;
    top: 56px;
}

.ratImg {
    width: 82%;
}

.hidden {
    visibility: hidden;
}