html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Marker';
    src: url('../assets/fonts/PermanentMarker-Regular.ttf');
}

.instructions-container {
    margin: 0 auto;
    background-image: url("../assets/imgs/whiteboard.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    height: 800px;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    font-family: Marker;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
    font-family: Marker;
}