.instructions-container {
    margin: 0 auto;
    background-image: url("../assets/imgs/whiteboard.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    height: 800px;
    padding: 20px;
}

.instructions-container h1 {
    text-align: center;
    font-family: Marker;
}

.instructions-container h1 {
    font-size: 3rem;
}

.instructions-container h2 {
    font-family: Heebo;
    text-align: center;
    font-size: 2rem;
}

.instructions-container p {
    font-size: 1.4rem;
    font-family: Heebo;
}