.body {
    font-family: 'Permanent Marker', cursive;
}



.gamescreen {
    height: 800px;
    width: 1000px;
    background-color: #9B9B9B;
    margin: 0 auto;
    margin-top: 100px;
}

.buttons {
    text-align: center;
}

.button {
    background-color: #A0CED9;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    height: 75px;
    width: 200px;
    border-radius: 20px;
    margin-top: 350px;
    margin-left: 50px;
    margin-right: 50px;
}
